:root {
  --link-button-color: rgb(8, 135, 43);
  --bootstrap-blue-color: #0d6efd;
}

.repository-link {
  color: white;
  background-color: var(--link-button-color);
  text-underline-offset: 4px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.carousel-move-button {
  border: none;
  background-color: var(--bootstrap-blue-color);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  margin: 10px;
}

.carousel-image-box {
  width: 711px;
  height: 390px;
  background-color: black;
}

.carousel-image-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
